# Ignore node_modules in mpl-frontend
mpl-frontend/node_modules/

# Ignore node_modules in mpl-backend
mpl-backend/node_modules/
mpl-backend/.env
mpl-backend/.env
mpl-backend/server.zip

# Local build artifacts (do not commit)
mpl-frontend/dist.zip
